### Node ###
# Logs
logs/
*.log
npm-debug.log*

# Dependency directory
node_modules/
package-lock.json

# Build output (Vite)
dist/
dist-ssr/

# Coverage reports
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# OS-specific files
*.swp
*.swo
*~
# macOS
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Tailwind CSS JIT mode cache
.tailwind/

# PostCSS cache
.pnpm-store/
